@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@layer utilities {
  img {
    object-fit: cover;
    width: 100%;
  }
  button {
  }
  .checkbox-dis {
    background: url('../../assets/img/checkbox-dis.svg');
    background-size: cover;
  }
}
.section-title {
  @apply text-5xl text-center pb-12 lg:text-3xl md:text-2xl xs:pb-4;
}

.header {
  @apply max-w-screen-xl w-full mx-auto flex items-center justify-between py-6 relative lg:px-4 sm:px-2;
}
.header-burger {
  @apply w-[40px] h-[40px] hidden lg:block sm:w-8 sm:h-8;
}
.header-logo {
  @apply lg:absolute lg:left-1/2 lg:-translate-x-1/2 lg:top-1/2 lg:-translate-y-1/2 flex-shrink-0 flex;
}
.header-logo-img {
  @apply w-[100px] h-[100px] lg:h-[70px] lg:w-[70px] sm:w-[50px] sm:h-[50px];
}
.header-nav {
  @apply lg:hidden ml-auto;
}
.header-menu {
  @apply flex items-center justify-between font-bold lg:flex-col lg:absolute lg:-left-4 lg:w-[420px] lg:items-start z-20 lg:p-8 xs:w-[110%] bg-white lg:top-[88px] sm:top-[70px];
}
.header-menu li {
  @apply p-5 cursor-pointer lg:py-3 lg:text-2xl sm:text-xl;
}
.header-links {
  @apply flex items-center;
}
.header-links a {
  @apply flex-shrink-0 flex h-[40px] w-[40px] mr-[10px] sm:w-8 sm:h-8 sm:ml-2;
}
.header-links-social {
  @apply sm:hidden !important;
}
.header-links-phone {
  @apply sm:order-2 sm:ml-4;
}
.header-phone {
  @apply font-bold flex shrink-0 ml-1 cursor-pointer sm:text-[8px];
}
#slider {
  @apply bg-main bg-right-bottom bg-cover sm:bg-bgsm;
}
.slider-wrap {
  @apply flex flex-col items-center relative overflow-hidden h-[46vw] sm:h-[100vw] xs:h-[440px];
}
.slider-title {
  @apply text-white text-6xl text-center font-normal mt-[3vw] mb-[2vw] max-w-[1300px] lg:text-4xl lg:max-w-[700px] lg:mb-8 md:text-[26px] md:max-w-[530px] sm:mt-[10vw] xs:text-[22px] xs:px-6;
}
.slider-buttons {
  @apply flex justify-items-center xs:flex-col relative z-10;
}
.slider-button {
  @apply mx-6 px-10 py-5 rounded-full flex items-center text-white text-xl bg-gradient-to-br from-grLBlue to-grCyan lg:text-sm md:text-xs md:py-2 md:px-4 md:mx-2 xs:justify-center xs:mb-2;
}
.slider-button-outline {
  @apply mx-6 px-10 py-5 rounded-full flex items-center text-white text-xl border-grLBlue bg-transparent lg:text-sm md:text-xs md:py-2 md:px-4 md:mx-2 border-[2px];
}
.slider-image {
  @apply absolute bottom-[10px] right-[-0] w-[55%] sm:hidden z-0;
}
.slider-image-mobile {
  @apply absolute bottom-[20px] hidden right-[-0] w-[100%] sm:flex;
}
#about {
  @apply max-w-screen-xl w-full mx-auto py-12;
}
.about-wrap {
  @apply flex justify-items-center sm:flex-wrap sm:justify-center;
}
.about-item {
  @apply flex flex-col items-center w-64 mx-2 sm:w-[40%] xs:w-[45%];
}
.about-item-title {
  @apply font-medium text-6xl text-transparent bg-clip-text bg-gradient-to-b from-grBlue to-grPurple lg:text-[40px] text-center;
}
.about-item-desc {
  @apply text-2xl lg:text-sm xs:text-xs;
}
#features {
  @apply max-w-screen-xl w-full mx-auto py-12;
}
.features-wrap {
  @apply flex flex-wrap justify-center;
}
.features-item {
  @apply flex flex-col items-center text-center w-1/6 lg:w-2/6 lg:mb-12 sm:w-full sm:max-w-[210px] xs:flex-row xs:max-w-full xs:px-2 xs:items-center xs:mb-2;
}
.features-item-wrap {
  @apply flex items-end w-32 h-32 pb-2 xs:w-[100px] flex-shrink-0 xs:h-auto xs:pb-0;
}
.features-item-title {
  @apply font-semibold text-xl mb-3 xs:text-left ml-4 xs:text-base xs:mb-1;
}
.features-item-desc {
  @apply px-2 xs:text-left ml-4 xs:px-0 xs:text-sm leading-tight;
}
#services {
  @apply max-w-screen-xl w-full mx-auto py-12 px-4;
}
.services-wrap {
  @apply flex flex-wrap justify-center gap-2 md:gap-[2vw];
}
.services-item {
  @apply flex overflow-hidden  p-[1px] from-grLBlue to-grCyan bg-gradient-to-br rounded-[21px] md:w-[30%] sm:w-[48%];
}
.services-item-wide {
  @apply md:w-[62%] sm:w-full;
}
.services-item-wide:last-child {
  @apply md:order-2;
}
.services-item-wrap {
  @apply bg-white rounded-[20px] overflow-hidden flex flex-col w-[270px] h-[300px] md:w-full md:h-[200px] xs:h-auto;
}
.services-item-wrap-wide {
  @apply flex-row w-[555px] sm:w-full;
}

.services-item-title {
  @apply mb-auto inline-flex text-2xl font-bold pt-[30px] pr-[10px] pb-[20px] pl-[30px] md:text-sm md:pl-4 md:pt-4;
}
.services-item-desc {
  @apply inline-flex leading-[170%] pt-[30px] pr-[10px] pb-[20px] pl-[30px] mt-auto md:text-sm md:pl-4 md:mt-1 md:pt-0;
}
.services-img-wrap {
  @apply flex flex-grow-0 h-[130px];
}
.services-img-wrap-wide {
  @apply flex flex-shrink-0 w-[250px];
}
#prices {
  @apply max-w-screen-xl w-full mx-auto py-12 lg:px-8 xs:px-4;
}
.prices-img-wrap {
  @apply flex flex-shrink-0 w-[370px] lg:w-[25%] sm:hidden;
}
.prices-wrap {
  @apply flex flex-col w-full ml-8 sm:m-0;
}
.prices-title {
  @apply flex justify-between text-2xl mb-10 pb-[3px] from-grLBlue to-grCyan bg-gradient-to-r md:text-base xs:mb-3 xs:text-xs;
}
.prices-item {
  @apply flex justify-between border-b text-2xl mb-10 border-[#858585] md:text-base xs:mb-2 xs:text-xs;
}
.prices-btn-wrap {
  @apply mr-auto flex items-center w-[300px] from-grLBlue to-grCyan bg-gradient-to-br rounded-full h-[64px] p-1 md:h-14 md:w-[230px] xs:p-px xs:h-8 xs:w-40;
}
.prices-btn-wrap img {
  @apply ml-2 w-8 h-8 xs:w-5 xs:h-5;
}
.prices-btn {
  @apply text-xl inline-flex justify-center items-center bg-white w-full h-full rounded-full xs:text-sm;
}
#order {
  @apply bg-banner1 bg-cover;
}
.order-wrap {
  @apply flex flex-col max-w-screen-xl w-full mx-auto py-12 px-4 lg:px-8 xs:px-4;
}
.order-title {
  @apply font-bold text-4xl text-white lg:text-3xl md:text-[18px];
}
.order-desc {
  @apply text-2xl max-w-xl mb-12 text-white lg:text-xl lg:mb-8 md:text-sm md:mb-4 sm:text-sm;
}
.order-input {
  @apply px-[30px] py-4 w-[750px] lg:w-[450px] lg:text-4xl rounded-[20px] placeholder:text-transparent placeholder:bg-clip-text placeholder:bg-gradient-to-r placeholder:from-grLBlue placeholder:to-grCyan md:w-[300px] md:h-[50px] md:rounded-lg md:text-[26px] md:pl-4 flex text-6xl font-bold outline-none sm:w-[200px] sm:text-sm;
}
.order-cbx-wrap {
  @apply flex items-center my-4 relative;
}
.order-cbx-wrap input {
  @apply hidden;
}
.order-cbx-wrap label {
  @apply ml-2 text-white before:content-[''] before:h-[27px] before:w-[33px] before:bg-checkbox before:bg-contain before:-translate-y-1/2 pl-[32px] before:left-0 before:top-[50%] before:absolute md:text-xxs md:before:w-[15px] md:before:h-[12px] md:pl-4 xs:text-[8px];
}
.order-button {
  @apply px-12 py-5 rounded-full mr-auto flex items-center text-white text-xl bg-gradient-to-br from-grLBlue to-grCyan md:px-4 md:py-2 md:text-xs;
}
.order-button img {
  @apply w-10 ml-2 md:w-4;
}
#reviews {
  @apply max-w-screen-xl w-full mx-auto py-12 xs:p-2;
}
.reviews-desc {
  @apply text-2xl mb-8 lg:text-xl lg:ml-4 md:text-base xs:mb-2;
}
.reviews-wrap {
  @apply flex flex-wrap m-auto justify-center gap-[30px];
}
.reviews-item {
  @apply flex flex-col w-[370px] md:h-[270px] lg:w-full lg:max-w-[48%] p-px rounded-[32px] from-grLBlue to-grCyan bg-gradient-to-br sm:max-w-[440px] xs:h-auto;
}
.reviews-item-wide {
  @apply lg:max-w-[99%] w-[768px] flex-row sm:flex-col sm:h-auto;
}
.reviews-item-title {
  @apply bg-white text-3xl px-4 py-5 font-bold rounded-t-[30px] md:text-base;
}
.reviews-item-title-wide {
  @apply bg-white text-3xl px-4 py-5 font-bold rounded-tl-[30px] md:text-base sm:rounded-t-[30px];
}
.reviews-item-inner {
  @apply flex items-center bg-white text-xs px-4 justify-between;
}
.reviews-item-inner p {
  @apply w-[160px];
}
.reviews-item-stars {
  @apply flex items-center bg-gradient-to-b from-grBlue to-grPurple w-[150px] p-px rounded-full h-[40px];
}
.reviews-item-stars-inner {
  @apply flex items-center bg-white w-full h-full rounded-full justify-center p-2;
}
.reviews-item-stars-inner img {
  @apply h-[17px] w-[17px];
}
.reviews-item-desc {
  @apply bg-white px-4 py-5 h-full rounded-b-[30px] md:text-base;
}
.reviews-item-desc-wide {
  @apply bg-white px-4 py-5 h-full rounded-bl-[30px] sm:rounded-bl-[0px];
}
.reviews-item-img-wrap {
  @apply flex flex-shrink-0 bg-white w-[400px] rounded-r-[30px] md:w-[40%] sm:w-full sm:rounded-b-[30px] sm:rounded-tr-none;
}
.reviews-item-img-wrap img {
  @apply object-contain w-full sm:rounded-b-[30px];
}
.reviews-item-score {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-grBlue to-grPurple text-2xl font-bold pl-1;
}
#partners {
  @apply py-12 bg-gradient-to-b from-grLight to-grTransparent;
}
.partners-wrap {
  @apply flex flex-col max-w-screen-xl w-full mx-auto;
}
.partners-list {
  @apply flex flex-wrap justify-around;
}
.partners-list div img {
  @apply max-h-[170px] h-full w-auto sm:max-h-[20vw];
}
.partners-desc {
  @apply max-w-[770px] text-2xl py-[30px] lg:text-xl lg:ml-4 md:text-base md:max-w-[60%];
}
.partners-button {
  @apply px-6 py-5 rounded-full mr-auto flex items-center text-white text-xl bg-gradient-to-br from-grLBlue to-grCyan lg:ml-4 md:text-sm md:px-6 md:py-2;
}
.partners-button img {
  @apply ml-3 w-10 xs:w-5;
}
#experts {
  @apply max-w-screen-xl w-full mx-auto py-12;
}
.experts-title {
  @apply text-5xl text-center pb-12 lg:text-3xl md:text-2xl md:pb-8;
}
.experts-desc {
  @apply max-w-[770px] text-2xl py-[30px] lg:text-xl lg:ml-4 md:text-base xs:py-0;
}
.experts-wrap {
  @apply flex flex-wrap gap-[30px] justify-center;
}
.experts-item {
  @apply flex flex-col text-center justify-items-center w-[270px] h-[240px] lg:w-[30%] sm:w-full sm:max-w-[270px];
}
#questions {
  @apply max-w-screen-xl w-full mx-auto py-12 px-4;
}
.questions-title {
  @apply text-5xl text-center pb-12 lg:text-3xl md:text-2xl md:pb-4;
}
.questions-item {
  @apply flex items-center justify-between font-bold text-2xl py-5;
}
.questions-item p {
  @apply md:text-base;
}
.questions-item img {
  @apply w-8 h-8;
}
.questions-answer {
  @apply text-xl px-12 md:text-base inline-flex;
}
@tailwind utilities;
#order-dark {
  @apply bg-banner2 bg-cover text-black;
}
#order-dark * {
  @apply text-black;
}
#order-dark button {
  @apply text-white;
}
#footer {
  @apply bg-text px-8 relative xs:px-4;
}
.footer-wrap {
  @apply flex max-w-screen-xl w-full mx-auto py-12 text-white md:text-xs  justify-center flex-wrap xs:pb-[360px];
}
.footer-col {
  @apply flex flex-col w-1/3 sm:w-1/2 xs:w-full;
}
.footer-col-2 {
  @apply sm:w-full;
}
.footer-col-title {
  @apply flex w-64 pb-px flex-col bg-gradient-to-r from-grLBlue to-grCyan xsm:w-auto;
}
.footer-col-title-text {
  @apply flex mt-auto mb-4 font-bold text-transparent bg-clip-text bg-gradient-to-br from-grLBlue to-grCyan md:text-base;
}
.footer-list {
  @apply flex flex-col mr-auto w-full;
}
.footer-list {
  @apply flex flex-col mr-auto w-full;
}
.footer-list li {
  @apply md:h-8 font-bold h-12 flex items-center w-full;
}
.footer-logo {
  @apply flex w-64 pb-px bg-gradient-to-r from-grLBlue to-grCyan h-[65px] max-w-[90%] xs:w-32 xs:h-[41px];
}
.footer-logo img {
  @apply object-contain h-16 flex object-left bg-black xs:h-[40px];
}
.copyright {
  @apply text-xxs font-bold mt-20 md:absolute md:bottom-4 md:right-1/2 translate-x-1/2;
}
.calculator-gradient {
  @apply flex bg-gradient-to-b from-grLight to-grTransparent flex-col;
}
.calculator-block {
  @apply flex flex-col max-w-screen-xl w-full mx-auto py-12 px-4;
}
.calculator-title {
  @apply text-5xl text-center pb-12 lg:text-3xl md:text-2xl md:pb-6;
}
.calculator-subtitle {
  @apply text-2xl text-center pb-[30px] md:text-base;
}
.calculator-btn {
  @apply px-12 py-5 my-9 rounded-full mr-auto flex items-center text-white text-xl bg-gradient-to-br from-grLBlue to-grCyan md:text-sm md:px-6 md:py-2;
}
.calculator-item {
  @apply flex rounded-[20px] overflow-hidden relative max-w-[48%] xsm:max-w-full xsm:mb-4;
}
.calculator-name {
  @apply h-16 w-full flex items-center justify-items-center font-semibold text-2xl absolute bottom-0 right-0 bg-gradient-to-br from-grLBlue to-grCyan px-14;
}
.calculator-name-text {
  @apply flex mx-auto text-white lg:text-xl md:text-base;
}
.calculator-name-img {
  @apply absolute left-3 top-[50%] -translate-y-1/2 w-[40px];
}
.calculator-options-wrap {
  @apply flex flex-wrap max-w-screen-xl w-full mx-auto py-12 px-4 md:py-6 mx-auto;
}
.calculator-options-cbx {
  @apply flex items-center my-4 relative w-[280px] p-5 md:py-2;
}
.calculator-options-cbx label {
  @apply ml-8 before:content-[''] lg:text-xl md:text-base md:ml-4 text-2xl before:h-[42px]  before:w-[52px] before:bg-checkbox before:-translate-y-1/2 pl-[32px] before:checkbox-dis before:left-0 before:top-[50%] before:absolute before:bg-cover;
}
.calculator-options-fields {
  @apply flex flex-wrap max-w-screen-xl w-full mx-auto justify-between px-4 sm:gap-4;
}
.calculator-options-fields-title {
  @apply text-2xl mr-5 lg:text-xl md:text-base;
}
.calculator-options-fields-textarea {
  @apply flex p-px bg-gradient-to-br from-grLBlue to-grCyan w-[470px] h-[130px] rounded-[21px] lg:w-[430px] md:w-full;
}
.calculator-options-fields-textarea textarea {
  @apply w-full h-full resize-none rounded-[20px] text-2xl py-4 px-8 md:px-4 md:py-2 font-semibold placeholder:text-[#c4c4c4];
}
.calculator-options-fields-input {
  @apply flex p-px bg-gradient-to-br from-grLBlue to-grCyan w-[200px] h-[60px] rounded-[11px] after:content-['м²'] after:absolute relative  after:text-black  after:right-[20px] after:top-1/2 text-xl after:-translate-y-1/2;
}
.calculator-options-fields-input input {
  @apply rounded-[10px] w-full text-xl font-semibold pl-[30px]  placeholder:text-[#c4c4c4];
}
.calculator-total-title {
  @apply md:max-w-[270px] max-w-xl;
}
.calculator-total-price {
  @apply mt-4 text-6xl text-transparent bg-clip-text bg-gradient-to-br from-grLBlue to-grCyan font-bold lg:text-5xl md:text-2xl md:mt-0;
}
.calculator-total-subtitle {
  @apply text-2xl max-w-xl mb-8 mt-4 md:text-sm md:mb-2 md:mt-0;
}
.calculator-item-3 {
  @apply flex rounded-[20px] overflow-hidden relative max-w-[30%] lg:max-w-[47%] w-full xsm:max-w-full;
}
.calculator-name-text-3 {
  @apply flex mx-auto text-white lg:text-xl md:text-base  text-xl w-full;
}
